html {
    overflow-x:hidden;
}
p {
    font-family: 'FactorA-Medium';  
}
.main {
    overflow: hidden;
    height: 1189px;
}
.maket {
    width: 100%;
    opacity: 60%;
    position: absolute;
}
.name {
    position: relative;
    height: 720px;
    top: 93px;
    left: 584px;
    font-family: 'OffBitTrial-101Bold';
    font-size: 314px;
    line-height: 78.5%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2.6px;
    -webkit-text-stroke-color: #000000;
    color: #FF4B00;
    mix-blend-mode: multiply;
}
.name {
    animation: name-change 0.5s steps(1) infinite;
    animation-play-state: paused;
  }
  @keyframes name-change {
    0% {font-family: 'OffBitTrial-101Bold';}
    34% {font-family: 'OffBitTrial-Bold';}
    68% {font-family: 'OffBitTrial-DotBold';}
  }
  .animate-name {
    animation: nname 1s 1 ease-in;
    animation-fill-mode:forwards;
    }

@keyframes nname {
    0% {left: 584px;}
    100% {left: -620px;}
  }

.sun {
    position: absolute;
    top: 62px;
    left: 1275px;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: #FF4B00;
    border: 2.6px solid #000000;
}

.sun1 {
    position: absolute;
    top: 120px;
    left: 1275px;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: white;
    border: 2.6px solid #000000;
}
.alldark {
    position: relative;
    top: 22px;
    left: -30px;
}
.animate-all {
    animation: alll 1s 1 ease-in;
    animation-fill-mode:forwards;
}
@keyframes alll {
    0% {top: 22px;
        left: -30px;
        filter: brightness(100%);}
    100% {top: 51px;
        left: -335px;
        filter: brightness(160%);}
  }


.exp {
    filter: brightness(130%);
}

.imgtext {
    display: flex;
    flex-direction: row-reverse;
}

.buttoms {
    display: flex;
    position: relative;
    top: -237px;
    left: 3px;
    margin-left: 64px;
}
.buttom1, .buttom2, .start {
    position: relative;
    width: 133px;
    height: 47px;
    border: 2.6px solid #000000;
    border-radius: 43px;
}
.buttom2 {
    left: 19px;
}
.start {
    left: 39px;
}
.start {
    width: 205px;
    background-color: #FF4B00;
}
.text1, .text2, .text3 {
    position: relative;
    top: 28%;
    left: 20%;
    font-size: 22px;
    letter-spacing: 0.015em;
}
.buttom1:hover, .buttom2:hover, .start:hover {
    cursor: pointer;
}
.text3 {
    left: 11%; 
}
.extext1 {
    display: none;
    position: absolute;
    top: 14px;
    left: 163px;
    width: 475px;
    height: 228px;
    font-family: 'Factor A';
    font-size: 22px;
    line-height: 110%;
    letter-spacing: -0.03em;
}
.extext2 {
    display: none;
    position: absolute;
    top: 14px;
    left: 314px;
    width: 265px;
    height: 228px;
    font-family: 'Factor A';
    font-size: 22px;
    line-height: 110%;
    letter-spacing: -0.03em;
}
.extext11 {
    display: none;
    position: absolute;
    top: 189px;
    left: 163px;
    font-family: 'Factor A';
    font-size: 22px;
    letter-spacing: -0.03em;
    color: #FF4B00;
    text-decoration: underline;
}
.extext21 {
    display: none;
    position: absolute;
    top: 115px;
    left: 314px;
    font-family: 'Factor A';
    font-size: 22px;
    letter-spacing: -0.03em;
    color: #FF4B00;
    text-decoration: underline;
}
.extext11:hover, .extext21:hover {
    cursor: pointer;  
}
.photo {
    position: relative;
    top: -294px;
    left: 0px;
    width: 100%;
    z-index: -10;
}
.photonew {
    top: -151px;
}
.animate-me {
    animation: photo-move-down 0.8s infinite ease-out;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-direction: normal;
}

  @keyframes photo-move-down {
    0% {top: -294px;}
    100% {top: -151px;}
  }

  .animate-me1 {
    animation: photo-move-up 0.8s infinite ease-out;
    animation-fill-mode:forwards;
    animation-play-state: running;
    animation-direction: normal;
}

@keyframes photo-move-up {
    0% {top: -151px;}
    100% {top: -294px;}
  }