@media only screen and (min-width: 1280px) {
  .poster {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    max-width: 1280px
  }
}  /* Desktop */

@media only screen and (min-width: 1024px) {

}  /* Laptop */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {

}  /* iPad */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  
}  /* iPad Portrait */

@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
  

}  /* iPad Landscape */

@media only screen and (min-device-width: 1px) and (max-device-width: 600px) {

}  /* iPhone */
